*{
    padding: 0;
    margin: 0;
}
.image{
    background-image: url(../Assets/photo.jpg);
    height: 100vh;
background-size: cover;
}
.NavBar{
    display: grid;
    grid-template-columns: 6fr 2fr 2fr 2fr;
    color: blanchedalmond;
    font-size: 20px;
    height: 9vh;
    background-color: rgba(26, 67, 70, 0.459); 
}
.NavBar img{
    margin-top: -50px;   
}
.NavBar a{
    text-decoration: none;
    color: #fff;
}
#btn{
    padding: 15px;
}
.login{
    width: 70vw;
    height: 70vh;
    background: rgba(49, 53, 63, 0.404);
    position: absolute;
    left: 50%;
    top: 50%;
    transform: translate(-50%, -50%);
}
.login .good p{
    color: white;
    text-align: center;
    margin: 20px;
    font-size: 25px;
    padding: 0px 10px 50px 0px;
}
form{
    position: absolute;
    left: 50%;
    top: 50%;
    transform: translate(-50%, -50%);
}

input[type="text"]{
    padding: 5px;
    margin: 5px;
    width: 20vw;
    height: 5vh;
    font-size: 17px;
   
}
.login-btn{
    background-color: rgb(220, 110, 20);
    padding: 5px;
    color: white;
    width: 13vw;
    height: 5vh;
    margin: 10px 46px;
    text-align: center;
    font-size: 19px;
}
.admin{
    background-color: rgb(20, 94, 20);
}
a{
    text-decoration: none;
}

.create-new{
    text-align: center;
    margin-top: 20px;
    color: white;
    font-size: 17px;
}

.create-new a{
    text-decoration: none;
    color: rgb(202, 177, 66);
    margin: 40px;
    font-size: 19px;
}

.create-new p{
    margin: 40px 0px 10px 0px; 
    font-size: 19px;
}
.create-new #admin{
    color: rgb(73, 231, 59);
}

  .login img{
      border-radius: 50%;
  }

  