*{
    padding: 0;
    margin: 0;
}
body{
    font-family: serif;
}
.image{
    background-image: url(../Assets/photo.jpg);
    height: 100vh;
background-size: cover;
}
.NavBar{
    display: grid;
    grid-template-columns: 9fr 1fr 1fr;
    color: blanchedalmond;
    font-size: 20px;
    height: 9vh;
    background-color: rgba(26, 67, 70, 0.459); 
}
.NavBar img{
    margin-top: -50px;   
}
.NavBar a{
    text-decoration: none;
    color: #fff;
}
#btn{
    padding: 15px;
}
.login{
    width: 70vw;
    height: 70vh;
    background-color: rgba(107, 156, 156, 0.466);
    position: absolute;
    left: 50%;
    top: 50%;
    transform: translate(-50%, -50%);
}
.login .good p{
    color: white;
    text-align: center;
    margin: 20px;
    font-size: 22px;
    padding: 0px 10px 50px 0px;
    font-weight: 700;
    font-family: serif;
}
form{
    position: absolute;
    left: 50%;
    top: 50%;
    transform: translate(-50%, -50%);
}

input[type="text"]{
    padding: 5px;
    margin: 5px;
    width: 20vw;
    height: 5vh;
    font-size: 17px;
    outline: none;
    border-radius: 2px;
}
.login-btn{
    background-color:rgb(3, 56, 73);
    padding: 5px;
    color: white;
    width: 13vw;
    height: 5vh;
    margin: 10px 46px;
    text-align: center;
    font-size: 19px;
}
.admin{
    background-color: rgb(18, 62, 82);
    
}
a{
    text-decoration: none;
}

.create-new{
    text-align: center;
    margin-top: 20px;
    color: white;
    font-size: 17px;
}

.create-new a{
    text-decoration: none;
    color: rgb(180, 106, 8);
    margin: 10px;
    font-size: 19px;
    font-weight: 700;
    
}

.create-new p{
    margin: 40px 0px 10px 0px; 
    font-size: 19px;
}
.create-new #admin{
    color: rgb(22, 78, 97);
    
}

  .login img{
      border-radius: 50%;
  }

  